<!-- The trending tags list -->

{% assign trending_tags = site.data.trending_tags %}

{% if trending_tags.size > 0 %}
  <section>
    <h2 class="panel-heading">{{ site.data.locales[include.lang].panel.trending_tags }}</h2>
    <div class="d-flex flex-wrap mt-3 mb-1 me-3">
      {% for tag in trending_tags %}
        <a class="post-tag btn btn-outline-primary" href="{{ tag.slug | prepend: '/tags/' | append: '/' | relative_url }}">
          {{ tag.name }} ({{ tag.count }})
        </a>
      {% endfor %}
    </div>
  </section>
{% endif %}
